

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    
    background-color: #121212;

    
    font-family: SpotifyMixUI, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl,
        CircularSp-Grek, CircularSp-Deva, "Helvetica Neue", helvetica, arial,
        "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, "MS Gothic",
        "Inter", sans-serif;

    
    color: #ffffff;

    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;

    min-height: 100vh;
}

#root {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


a {
    color: inherit;
    text-decoration: none;
}


img, video {
    max-width: 100%;
    display: block;
}


ul, ol {
    list-style: none;
}


button {
    cursor: pointer;
    font-family: inherit;
}
