.app-footer {
    margin-top: auto;
    padding: 32px 24px;
    text-align: center;
    border-top: 1px solid #282828;
    background-color: #121212;
    width: 100%;
}

.app-footer p {
    font-size: 12px;
    font-weight: 400;
    color: #b3b3b3;
    margin: 0;
    font-family: SpotifyMixUI, "Helvetica Neue", helvetica, arial, "Inter", sans-serif;
    letter-spacing: 0.5px;
}
